<section *ngIf="!isLoading" class="container my-4">
    <h2 class="text-center mb-4">All Products</h2>
    <input 
      type="text" 
      class="form-control w-75 mx-auto form-control-sm my-3" 
      placeholder="Search..." 
      [(ngModel)]="term" 
    />
    <div class="row g-3">
      <div 
        *ngFor="let product of products | search : term" 
        class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch"
      >
        <div class="card img-tables text-center w-100">
          <header [routerLink]="['/productdetails', product.id]">
            <img 
              class="card-img-top mt-3 img-fluid h-50 w-50" 
              [src]="product.image" 
              [title]="product.title" 
              [alt]="product.title" 
            />
            <div class="card-body">
              <h3 class="h6 pt-2 fs-5 fw-bold mb-1">{{ product.category }}</h3>
              <h2 class="h6 fs-6 text-muted mb-2">{{ product.title | cuttext : 3 }}</h2>
              <div class="card-text d-flex align-items-center justify-content-center text-center small">
                <span>{{ product.price | currency : "EGP " }}</span>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </section>
  
  <div *ngIf="isLoading" class="text-center my-5">
    <p>Loading...</p>
  </div>
  